$accent-color:#8925EF;
$font-color:#454543;
$breakpoints:(xs: "only screen and (max-width: 320px)",
    s: "only screen and (max-width: 767px)",
    l: "only screen and (min-width: 768px) and (max-width: 1100px)",
    xl:"only screen and (min-width: 1101px)",

);

@mixin media($breakpoint) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

.pc-only {
    @include media(s) {
        display: none;
    }

    @include media(l) {
        display: block;
    }

    @include media(xl) {
        display: block;
    }
}

.sp-only {
    @include media(s) {
        display: block;
    }

    @include media(l) {
        display: none;
    }

    @include media(xl) {
        display: none;
    }
}


@font-face {
    font-family: "copperplate-r";
    src: url("../fonts/Copperplate-01.ttf");
}
@font-face {
    font-family: "copperplate-b";
    src: url("../fonts/Copperplate-Bold-03.ttf");
}

body {
    margin: 0;
    font-family: "Hiragino Kaku Gothic ProN", 'Hiragino Sans', sans-serif;
    font-size: 62.5%;
    overflow-x: hidden;
    background: white;
    color: #454543;
}

section {
    width: 100%;
}

.wrapper {
    width: 100%;
    overflow: hidden;
}

img {
    max-width: 100%;
}

figure {
    margin: 0;
}

.section__wrapper {
    margin: 10% auto;
}

h1,h2,h3,p,a{
    margin-block-start:0;
    margin-block-end: 0;
}
h1 {
    font-size: 5vmax;

    @include media(s) {
        font-size: 36px;
    }
}

h2 {
    font-size: 1.8vmax;
    font-family: "Hiragino Sans";
    letter-spacing: 1px;

    @include media(s) {
        font-size: 18px;
        line-height: 2.2;
        font-weight: 700;
        margin-top: 20px;
    }
}

h3 {
    font-size: 1.6vmax;
    line-height: 1.6;

    @include media(s) {
        font-size: 16px;
        line-height: 2;

    }

    @include media(l) {
        font-size: 18px;
    }
}

p {
    font-size: 1vmax;
    line-height: 2;

    @include media(s) {
        font-size: 14px;
    }

    @include media(l) {
        font-size: 16px;
    }
}

a {
    color: inherit;
    text-decoration: none;

}

ul,li {
    list-style: none;
}
