$accent-color:#8925EF;
$font-color:#454543;
$breakpoints:(xs: "only screen and (max-width: 320px)",
    s: "only screen and (max-width: 767px)",
    l: "only screen and (min-width: 768px) and (max-width: 1100px)",
    xl:"only screen and (min-width: 1101px)",

);

@mixin media($breakpoint) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

.pc-only {
    @include media(s) {
        display: none;
    }

    @include media(l) {
        display: block;
    }

    @include media(xl) {
        display: block;
    }
}

.sp-only {
    @include media(s) {
        display: block;
    }

    @include media(l) {
        display: none;
    }

    @include media(xl) {
        display: none;
    }
}


@font-face {
    font-family: "copperplate-r";
    src: url("../fonts/Copperplate-01.ttf");
}
@font-face {
    font-family: "copperplate-b";
    src: url("../fonts/Copperplate-Bold-03.ttf");
}

body {
    margin: 0;
    font-family: "Hiragino Kaku Gothic ProN", 'Hiragino Sans', sans-serif;
    font-size: 62.5%;
    overflow-x: hidden;
    background: white;
    color: #454543;
}

section {
    width: 100%;
}

.wrapper {
    width: 100%;
    overflow: hidden;
}

img {
    max-width: 100%;
}

figure {
    margin: 0;
}

.section__wrapper {
    margin: 10% auto;
}

h1,h2,h3,p,a{
    margin-block-start:0;
    margin-block-end: 0;
}
h1 {
    font-size: 2vmax;
    font-weight: 400;

    @include media(s) {
        font-size: 36px;
    }
}

h2 {
    font-size: 1.8vmax;
    font-family: "Hiragino Sans";
    letter-spacing: 1px;

    @include media(s) {
        font-size: 18px;
        line-height: 2.2;
        font-weight: 700;
        margin-top: 20px;
    }
}

h3 {
    font-size: 1.6vmax;
    line-height: 1.6;

    @include media(s) {
        font-size: 16px;
        line-height: 2;

    }

    @include media(l) {
        font-size: 18px;
    }
}

p {
    font-size: 1vmax;
    line-height: 2;

    @include media(s) {
        font-size: 14px;
    }

    @include media(l) {
        font-size: 16px;
    }
}

a {
    color: inherit;
    text-decoration: none;

}

ul,li {
    list-style: none;
}
 
.nav-bar{
    width: 100%;
    height: 30px;
    background-color: #333333;
    color: white;
    display: flex;
    padding: 30px;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top:0;
    left:0;
    z-index: 100;
    a{
        color: white;
        font-size: 1vmax;
        &:hover{
            color: $accent-color;
        }
    }
}
.premiz-logo{
    width: 18%;
    img{
        width:80%;
    }
}
.main-menu{
    display: inline-flex;
    width: 40%;
    justify-content: space-evenly;  
}
.nav-btns{
    display: inline-flex;
    justify-content: space-between;
    width: 18%;
}

// btn 
button{
    border:1px solid;
    padding:5px 8px;
    width: 100%;
    background-color: transparent;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: all .3s;
}
.btn{
    border-radius: 2px;
    margin: 0 8px;
    &.login{
        border: 1px solid $accent-color;
        color: $accent-color;
        a{
            color:$accent-color;
            &:hover{
                color:$font-color;
            }
        }
            &:hover{
                color:$font-color;
                background-color:$accent-color;
                transition: all .3s;
            }
    }
    &.signup{
        border: none;
        background-color: $accent-color;
        color:$font-color;
        a{
            color:$font-color;
        }
            &:hover{
                transform: scale(1.1);
            }
    }
}

// header
header{
    width: 100vw;
    height: auto;
    overflow-x:hidden;
    video{
    width: 100vw;
    height: auto;
    position: relative; 
    opacity: 100%;
    z-index: 0;
    }
    .hero_video{
        display:block;
        position:relative;
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        filter: drop-shadow(3px 3px 3px rgba(0,0,0,0.8));
        &::after{
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        background-color:  rgba(0,0,0,0.3);
        background-image: url("../img/download.png");
        background-blend-mode: lighten;
        background-repeat: repeat;
        background-position: 100%;
        width:100vw;
        height:100vh;
        }
    }
    .bg-img{
        position: absolute;
        top:5vh;
    }
    .hero_lead{
        color:#ffffff;
        position:absolute;
        top:25vh;
        left:10vw;
        background-color:hsla(0,0,7,.8);
        padding:3%;
        .hero_lead-para{
            margin-top:0;
            font-size: 1.7rem;
            line-height: 1.6;
            letter-spacing:0.05em;
        }
        .registration-arrow{
            margin-top:4%;
            &:hover{
                opacity: .8;
            }
        }
        i{
            margin-left:20px;
        }
    }
}
