@font-face {
  src: url("../fonts/Copperplate-01.ttf");
  font-family: "copperplate-r";
}

@font-face {
  src: url("../fonts/Copperplate-Bold-03.ttf");
  font-family: "copperplate-b";
}

body {
  margin: 0;
  overflow-x: hidden;
  background: white;
  color: #454543;
  font-family: "Hiragino Kaku Gothic ProN", 'Hiragino Sans', sans-serif;
  font-size: 62.5%;
}

section {
  width: 100%;
}

.wrapper {
  width: 100%;
  overflow: hidden;
}

img {
  max-width: 100%;
}

figure {
  margin: 0;
}

.section__wrapper {
  margin: 10% auto;
}

h1, h2, h3, p, a {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

h1 {
  font-size: 2vmax;
  font-weight: 400;
}

h2 {
  font-family: "Hiragino Sans";
  font-size: 1.8vmax;
  letter-spacing: 1px;
}

h3 {
  font-size: 1.6vmax;
  line-height: 1.6;
}

p {
  font-size: 1vmax;
  line-height: 2;
}

a {
  color: inherit;
  text-decoration: none;
}

ul, li {
  list-style: none;
}

.nav-bar {
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 30px;
  padding: 30px;
  background-color: #333333;
  color: white;
}

.nav-bar a {
  color: white;
  font-size: 1vmax;
}

.nav-bar a:hover {
  color: #8925EF;
}

.premiz-logo {
  width: 18%;
}

.premiz-logo img {
  width: 80%;
}

.main-menu {
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  justify-content: space-evenly;
  width: 40%;
}

.nav-btns {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  justify-content: space-between;
  width: 18%;
}

button {
  -webkit-transition: all .3s;
  display: inline-block;
  width: 100%;
  padding: 5px 8px;
  border: 1px solid;
  background-color: transparent;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
}

.btn {
  margin: 0 8px;
  border-radius: 2px;
}

.btn.login {
  border: 1px solid #8925EF;
  color: #8925EF;
}

.btn.login a {
  color: #8925EF;
}

.btn.login a:hover {
  color: #454543;
}

.btn.login:hover {
  -webkit-transition: all .3s;
  background-color: #8925EF;
  color: #454543;
  transition: all .3s;
}

.btn.signup {
  border: none;
  background-color: #8925EF;
  color: #454543;
}

.btn.signup a {
  color: #454543;
}

.btn.signup:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

header {
  width: 100vw;
  height: auto;
  overflow-x: hidden;
}

header video {
  z-index: 0;
  position: relative;
  width: 100vw;
  height: auto;
  opacity: 100%;
}

header .hero_video {
  -o-object-fit: cover;
  -webkit-filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.8));
  display: block;
  position: relative;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.8));
}

header .hero_video::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-blend-mode: lighten;
  background-color: rgba(0, 0, 0, 0.3);
  background-image: url("../img/download.png");
  background-position: 100%;
  background-repeat: repeat;
  content: "";
}

header .bg-img {
  position: absolute;
  top: 5vh;
}

header .hero_lead {
  position: absolute;
  top: 25vh;
  left: 10vw;
  padding: 3%;
  background-color: rgba(18, 18, 18, 0.8);
  color: #ffffff;
}

header .hero_lead .hero_lead-para {
  margin-top: 0;
  font-size: 1.7rem;
  letter-spacing: 0.05em;
  line-height: 1.6;
}

header .hero_lead .registration-arrow {
  margin-top: 4%;
}

header .hero_lead .registration-arrow:hover {
  opacity: .8;
}

header .hero_lead i {
  margin-left: 20px;
}

@media only screen and (max-width: 767px) {
  .pc-only {
    display: none;
  }
  .sp-only {
    display: block;
  }
  h1 {
    font-size: 36px;
  }
  h2 {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 700;
    line-height: 2.2;
  }
  h3 {
    font-size: 16px;
    line-height: 2;
  }
  p {
    font-size: 14px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1100px) {
  .pc-only {
    display: block;
  }
  .sp-only {
    display: none;
  }
  h3 {
    font-size: 18px;
  }
  p {
    font-size: 16px;
  }
}

@media only screen and (min-width: 1101px) {
  .pc-only {
    display: block;
  }
  .sp-only {
    display: none;
  }
}
