@font-face {
  src: url("../fonts/Copperplate-01.ttf");
  font-family: "copperplate-r";
}

@font-face {
  src: url("../fonts/Copperplate-Bold-03.ttf");
  font-family: "copperplate-b";
}

body {
  margin: 0;
  overflow-x: hidden;
  background: white;
  color: #454543;
  font-family: "Hiragino Kaku Gothic ProN", 'Hiragino Sans', sans-serif;
  font-size: 62.5%;
}

section {
  width: 100%;
}

.wrapper {
  width: 100%;
  overflow: hidden;
}

img {
  max-width: 100%;
}

figure {
  margin: 0;
}

.section__wrapper {
  margin: 10% auto;
}

h1, h2, h3, p, a {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

h1 {
  font-size: 5vmax;
}

h2 {
  font-family: "Hiragino Sans";
  font-size: 1.8vmax;
  letter-spacing: 1px;
}

h3 {
  font-size: 1.6vmax;
  line-height: 1.6;
}

p {
  font-size: 1vmax;
  line-height: 2;
}

a {
  color: inherit;
  text-decoration: none;
}

ul, li {
  list-style: none;
}

@media only screen and (max-width: 767px) {
  .pc-only {
    display: none;
  }
  .sp-only {
    display: block;
  }
  h1 {
    font-size: 36px;
  }
  h2 {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 700;
    line-height: 2.2;
  }
  h3 {
    font-size: 16px;
    line-height: 2;
  }
  p {
    font-size: 14px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1100px) {
  .pc-only {
    display: block;
  }
  .sp-only {
    display: none;
  }
  h3 {
    font-size: 18px;
  }
  p {
    font-size: 16px;
  }
}

@media only screen and (min-width: 1101px) {
  .pc-only {
    display: block;
  }
  .sp-only {
    display: none;
  }
}
